<!DOCTYPE html>
<html lang="zh_cn" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</head>

<body>

    <div id="app">
        <P>{{ msg }}</P>
        <input type="button" value="按钮" v-bind:title="btitle" @keyup.enter="toast">
        <input type="text" name="input" v-model="msg"><Span>{{msg}}</Span>
        <input type="text" name="input" v-model="msg">
        <div class="container">
            <input type="textarea" id="show" value="0">
            <input type="button" value="AC">
            <input type="button" value="C">
            <input type="button" value="%">
            <input type="button" value="/">

            <input type="button" value="7">
            <input type="button" value="8">
            <input type="button" value="9">
            <input type="button" value="*">

            <input type="button" value="4">
            <input type="button" value="5">
            <input type="button" value="6">
            <input type="button" value="-">

            <input type="button" value="1">
            <input type="button" value="2">
            <input type="button" value="3">
            <input type="button" value="+">

            <input type="button" value="En">
            <input type="button" value="0">
            <input type="button" value=".">
            <input type="button" value="=">
            <input type="button" v-for="item in texts":value="item.text">
        </div>
    </div>

    <script>
        new Vue({
            el: "#app",
            data: {
                msg: "hello word!",
                btitle: "这是一个按钮",
                texts: [{
                        text: "AC",
                        fun: "clearAll"
                    },
                    {
                        text: "DEL",
                        fun: "clearAll"
                    },
                    {
                        text: "%",
                        fun: "clearAll"
                    },
                    {
                        text: "/",
                        fun: "clearAll"
                    },
                    {
                        text: 7,
                        fun: "addNum"
                    },
                    {
                        text: 8,
                        fun: "addNum"
                    },
                    {
                        text: 9,
                        fun: "addNum"
                    },
                    {
                        text: "*",
                        fun: "addNum"
                    },
                    {
                        text: 4,
                        fun: "addNum"
                    },
                    {
                        text: 5,
                        fun: "addNum"
                    },
                    {
                        text: 6,
                        fun: "addNum"
                    },
                    {
                        text: "-",
                        fun: "clearAll"
                    },
                    {
                        text: 1,
                        fun: "addNum"
                    },
                    {
                        text: 2,
                        fun: "addNum"
                    },
                    {
                        text: 3,
                        fun: "addNum"
                    },
                    {
                        text: "+",
                        fun: "clearAll"
                    },
                    {
                        text: "69",
                        fun: ""
                    },
                    {
                        text: 0,
                        fun: "addNum"
                    },
                    {
                        text: ".",
                        fun: "dian"
                    },
                    {
                        text: "=",
                        fun: "deng"
                    }
                ]
            },
            methods: {
                toast: function () {
                    alert("按钮点击！")
                }
            }
        });
    </script>
</body>

</html>